# Global LLM Settings
LLM_ENDPOINT_URL=http://localhost:8080/v1/
LLM_API_KEY=

# GreyLitLM Settings
GREYLITLM_MODEL=greylitlm
#GREYLITLM_SYSTEM_PROMPT=
#GREYLITLM_INSTRUCTIONS=

# NuExtract Settings
NUEXTRACT_MODEL=nuextract3
#NUEXTRACT_THINKING=false
#NUEXTRACT_INSTRUCTIONS=
#NUEXTRACT_DPI=

# System Settings (optional)
# LOG_LEVEL=INFO
